/* styles for IT115 - G4 - A4 page */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Grenze+Gotisch&family=Henny+Penny&family=Yanone+Kaffeesatz&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box; 
}

h1{
    width:100%;
    font-family: 'Henny Penny', cursive;  
}

h2{
    border-bottom: 2px solid black;
}
body {
    background: rgb(199, 133, 46); 
}

#wrapper{
    font-family: 'Grenze Gotisch', cursive;
    max-width:1100px;
    margin: 0 auto;
    padding:20px 20px;
    border-left:10px solid rgb(54, 53, 53);  
}
main{
    background:rgb(209, 203, 200); 
    width:70%;
    float: left;
    padding:10px;
    margin: 20px;   
}

li {
    margin: 0 0 0 20px;
    list-style-type: square;
}

p {
    line-height:1.5em;
    margin-bottom:15px;	
}

.img1{
    float: left;
    margin: 10px 10px 10px 0;
    max-width: 50%;
}

img{
    max-width: 100%;
    margin: 10px auto;
} 

aside {
    width: 25%;
    float: right;
    padding: 25px;
    margin: 0 30px 0 0;
    background:#A59177;
}

a, a.visited {
    color: black;
}